name: Deploy to Kubernetes

on:
  workflow_run:
    workflows: ["Maven Build & Docker"]  
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repo (to get helm/myapp folder)
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Set up kubectl
      - name: Set up kubectl
        run: |
          echo "${{ secrets.KUBECONFIG_DATA }}" > kubeconfig
          export KUBECONFIG=$PWD/kubeconfig

      # 3. Extract version from pom.xml
      - name: Extract version
        id: version
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout --file myapp/pom.xml)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      # 4. Deploy with Helm
      - name: Helm upgrade/install
        run: |
          helm upgrade --install myapp ./helm/myapp \
            --set image.repository=${{ secrets.DOCKER_USERNAME }}/myapp \
            --set image.tag=${{ steps.version.outputs.version }} \
            --set image.pullPolicy=Always
